body{
    color:black;
    background-color: cyan;
}
.header{
    width: 80%;
    font-size: 22px;
}
.family_members{
    color:darkorchid;
}
#result_accuracy, #result_person{
    color:darkorchid;
} 